@charset "UTF-8";
/* line 2, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/_footer.scss */
footer .logo {
  width: 260px;
  height: 250px;
  margin-top: -40%;
  margin-left: 0px;
}

/* line 2, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/connexion.scss */
#connexion .spad {
  text-align: center;
}

/* line 5, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/connexion.scss */
#connexion .row {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

/* line 10, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/connexion.scss */
#connexion button {
  border: yellow;
  margin-top: 15px;
  color: yellow;
  font-size: 20px;
  background-color: firebrick;
  size: 100px;
}

/* line 18, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/connexion.scss */
#connexion h4 {
  font-family: "Arial Black";
  font-size: 30px;
}

/* line 1, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/activite.scss */
#activite-details {
  margin-top: 10px;
  padding: 20px;
}

/* line 4, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/activite.scss */
#activite-details h2 {
  text-align: center;
  background-color: darkred;
}

/* line 5, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
main .member_test {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

/* line 12, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
main .social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

/* line 25, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
main .social-link:hover, main .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/* line 34, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
#map2 {
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height: 400px;
}

/* line 38, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
.imgsize {
  width: 100%;
  /* or any custom size */
  height: 60%;
  /* Garde la proportionnalité de l'image */
  object-fit: contain;
}

/* image upload activité */
/* line 45, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
#upload-img {
  border: 1px solid;
  width: 35%;
}

/* line 48, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
#upload-img:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 1px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 58, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
  .ftco-section img, .imgsize {
    width: 100% !important;
    /* or any custom size */
    height: 45% !important;
    /* Garde la proportionnalité de l'image */
    object-fit: contain;
  }
}

/* line 66, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
.wysiwyg-content img {
  width: 100% !important;
}

/* line 70, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
.img,
.blog-img,
.user-img {
  background-size: contain;
}

/* line 75, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
#activitesolo {
  text-align: center;
}

/* line 78, ../../../../wamp64/www/cda32.s1.2isa.org/css/sass/main.scss */
#descriptionact {
  color: darkslategrey;
}

/*# sourceMappingURL=main.css.map */