@import 'config';

main{

  .member_test {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
  }

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }

  .social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }



}
#map2{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
  height:400px;
}

.imgsize{
  width: auto; /* or any custom size */
  height: 960px;
  /* Garde la proportionnalité de l'image */
  object-fit: contain;
}
/* image upload activité */
#upload-img {
  border: 1px solid;
  width: 35%;
  &:hover{
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
  }
}